html,
body {
	height: 100%;
}

.wrapper{
	background: -webkit-linear-gradient(180deg, rgb(11, 2, 2), rgb(43, 1, 94), rgb(165, 18, 57));
	background: -moz-linear-gradient(180deg, rgb(11, 2, 2), rgb(43, 1, 94), rgb(165, 18, 57));
	background: linear-gradient(180deg, rgb(11, 2, 2), rgb(43, 1, 94), rgb(165, 18, 57));
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-photo{
	font-size: 25px;
	color:white;
	padding-top: 8px;
}

.pad20{
	padding-top:20px;
}


